* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-container {
    margin: 0 auto;
}

/* ------------------------HEADER---------------------------- */
.all-container .header {
    width: 100%;
    height: 100vh;
    background: url(../imgs/background.png) no-repeat center;
    background-size: cover;
}

.all-container .header nav {
    width: 100%;
    height: 80px;
}

.header nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ABDB06;
    font-size: 35px;
    font-weight: 900;
    transition: 0.5s;
    display: inline-block;
}

nav ul li a:hover {
    transform: scale(1.1);
    color: rgb(119, 233, 119);
}

.active {
    width: auto;
    height: 45px;
    border-bottom: 5px solid #ABDB06;
    transition: .7s;
}

.active:hover {
    border: none;
}

.header-about {
    padding: 150px 100px;
    width: auto;
    align-items: center;
}

.header-about p {
    margin: 40px 40px;
    font-size: 25px;
    font-weight: 600;
    line-height: 33px;
    color: #252422;
}

.header-about p span {
    font-size: 30px;
    color: #ABDB06;
}

/* -------------------- PART-2 ---------------------------------------- */
.all-container .part-2 {
    width: 100%;
    height: auto;
    margin: 50px 0;
    background-color: #F2F2F2;
}

.display-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    grid-gap: 50px;
}

.part-2 h1 {
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.part-2 #part-box {
    display: inline-block;
    width: 450px;
    height: 500px;
    margin: 15px 0;
    overflow: hidden;
}

.part-2 #part-box:hover {
    background-color: #ccc;
    cursor: pointer;
}

.part-2 #part-box .over img {
    width: 450px;
    height: 300px;
    transition: .5s;
}

.part-2 #part-box:hover .over img {
    transform: scale(1.2);
}

.over {
    overflow: hidden;
}

.part-2 #part-box h3 {
    text-align: center;
    padding: 10px 0;
    font-size: 28px;
    color: #13861E;
}

.part-2 #part-box p {
    width: 400px;
    text-align: center;
    padding: 10px 0;
    font-size: 25px;
}

/* ------------------NEWS----------------- */
.all-container .news {
    width: 100%;
    height: auto;
}
.news h1{
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-size: 50px;
    margin-bottom: 25px;
}
.news .news-box{
    display: inline-block;
    width: 450px;
    height: 500px;
    margin: 15px 0;
}
.news .news-box img{
    width: 450px;
    height: 300px;
}
.news .news-box .date{
    color: #666;
}
.news .news-box p{
    width: 400px;
    text-align: center;
    padding: 10px 0;
    font-size: 25px;
}
.news .news-box p a{
    text-decoration: none;
    color: black;
}
.news .news-box p a:hover{
    text-decoration: underline;
    color: blue;
}