* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-container {
    margin: 0 auto;
}
.witdh-con{
    max-width: 80%;
    margin: 0 auto;
}

/* ------------------------HEADER---------------------------- */
.all-container .header {
    width: 100vw;
    height: 100vh;
    background: url(../imgs/background.png) no-repeat center;
    background-position: calc(50% - 80px);
    background-size: cover;
}

.all-container .header nav {
    width: 100%;
    height: 80px;
}

.header nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: auto;
}

nav ul{
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ABDB06;
    font-size: 30px;
    font-weight: 900;
    transition: 0.5s;
    display: inline-block;
}

nav ul li a:hover {
    transform: scale(1.1);
    color: rgb(119, 233, 119);
}

.active:hover {
    border: none;
}
#btn, #btn2{
    display: none;
}

.header-about {
    padding: 30px 10%;
    width: auto;
    align-items: center;
}

.header-about img {
    width: auto;
    height: auto;
    overflow: hidden;
}

.header-about p {
    margin: 30px 10px;
    font-size: 25px;
    font-weight: 600;
    line-height: 33px;
    color: #252422;
}

.header-about p span {
    font-size: 30px;
    color: #ABDB06;
}

/* -------------------- PART-2 ---------------------------------------- */
.all-container .part-2 {
    width: auto;
    height: auto;
    margin: 50px 0;
    background-color: #F2F2F2;
}

.display-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    grid-gap: 50px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.part-2 h1 {
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.part-2 #part-box {
    display: inline-block;
    margin: 15px 0;
    overflow: hidden;
}

.part-2 #part-box:hover {
    background-color: #ccc;
    cursor: pointer;
}

.part-2 #part-box .over img {
    width: auto;
    transition: .5s;
}

.part-2 #part-box:hover .over img {
    transform: scale(1.2);
}

.over {
    overflow: hidden;
}

.part-2 #part-box .over img {
    width: 100%;
    height: auto;
}

.part-2 #part-box h3 {
    text-align: center;
    padding: 10px 0;
    font-size: 28px;
    color: #13861E;
}

.part-2 #part-box p {
    text-align: center;
    padding: 10px 0;
    font-size: 25px;
}

/* ------------------NEWS-----------------*/
.news h1 {
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-size: 50px;
    margin-bottom: 25px;
}

.news .news-box {
    display: inline-block;
    margin: 15px 0;
    background-color: #c0bfbf4f;
}

.news .news-box:hover{
    cursor: pointer;
    background-color: #c0bfbf9c;
}
.news .news-box img {
    width: 100%;
    height: auto;
}

.news .news-box .date {
    color: #666;
}

.news .news-box p {
    text-align: center;
    padding: 10px 0;
    font-size: 25px;
}

.news .news-box p a {
    text-decoration: none;
    color: black;
}

.news .news-box p a:hover {
    text-decoration: underline;
    color: blue;
}

/* -------------------COURSES------------------------- */
.part-3 {
    width: auto;
    height: auto;
    text-align: center;
    color: #13861E;
}

.part-3 h1 {
    height: auto;
    padding: 100px 0;
    font-size: 50px;
}
.course {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    text-align: center;
}

.course-box {
    background-color: #c0bfbf40;
    width: auto;
    overflow: hidden;
}

.course-box:hover{
    background-color: #c0bfbf91;
    cursor: pointer;
}
.course-box img{
    width: auto;
}
.course-box p {
    font-size: 35px;
    padding: 40px 0;
    max-width: 450px; 
    margin: auto;
}

/* -------------------FOOTER---------------------- */
footer {
    width: 100%;
    height: auto;
    background-color: #878484;
}

footer .table {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
}

.table ul {
    list-style-type: none;
    line-height: 30px;
    padding: 20px 10px;
    line-height: 50px;
    font-size: 35px;
}

.table ul li a {
    text-decoration: none;
    color: black;
}

.table .maps a {
    text-align: center;
    font-size: 25px;
    padding-left: 10px;
}

.table .maps a:hover {
    color: blue;
    text-decoration: underline;
}

.table .f-links li a:hover {
    color: blue;
    text-decoration: underline;
    transform: scale(1.3);
}

.table .f-brands {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    text-align: center;
}

.table .f-brands li a img {
    width: auto;
    height: 70px;
    border-radius: 50%;
    transition: .3s;
}
.table .f-brands li:nth-child(1) img:hover {
    box-shadow: 0 0 30px #0088CC,  0 0 40px #0088CC, 0 0 40px #0088CC;
    transform: scale(1.2);
}
.table .f-brands li:nth-child(2) img:hover {
    box-shadow: 0 0 30px  #c4302b,  0 0 40px  #c4302b, 0 0 40px  #c4302b;
    transform: scale(1.2);
}
.table .f-brands li:nth-child(3) img:hover {
    box-shadow: 0 0 30px #c32aa3,  0 0 40px #99147c, 0 0 40px #591149;
    transform: scale(1.2);
}
.table .f-brands li:nth-child(4) img:hover {
    box-shadow: 0 0 30px #3b5998,  0 0 40px #3b5998, 0 0 40px #3b5998;
    transform: scale(1.2);
} 