*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 900px;
    background-image: url(..//QITC/images/header\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header nav ul li {
    display: inline;
}
.header nav ul li a{
    text-decoration: none;
    list-style-type: none;
    color: #ABDB06;
    transition: 0.3s;
}
.header nav ul li a:hover{
    color: #6eca05;
    transform: scale(1.1);
    display: inline-block;
}

.header nav ul{
    text-align: center;
    justify-content: space-around;
    display: flex;
    font-size: 50px;
    padding: 10px, 10px;
}
.logo{
    background-image: url(..//QITC/images/IT\ Center\ Logo\ 1.png);
    width: 700px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 90px;
    display: inline-block;
}
.logo p{
    width: 600px;
    margin-top: 250px;
    font-size: large;
    font-weight: bolder;
}
.main1{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    grid-gap: 100px;

}
.main{
    width: 100%;
    height: 1000px;
}
.main h3{
    color: #13861E;
}
.kurs{
    width: 480px;
    height: 330px;
    top: 20px;
}
.kurs img{
    padding: 16px 0;
}
.main h1{
    text-align: center;
    padding: 15px 0;
}
.yangiliklar1{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    grid-gap: 100px;
}
.yangiliklar{
    width: 100%;
    height: 1000px;
}
.new{
    width: 480px;
    height: 330px;
    top: 20px;
}
.new img{
    padding: 16px 0;
}
.yangiliklar h1{
    text-align: center;
    padding: 15px 0;
}